<div class="border-start border-5 ps-3">
<p> <%= @question %> </p>
<p class=""><em>- You</em></p>
</div>

<div class="border-start border-5 ps-3 alert alert-warning" role="alert">
<p> <%= @answer %> </p>
<p class=""><em>- Your coach</em></p>
</div>

<link href=>
